

.base-container{
    background-color: rgb(44, 79, 88);
    width: 80vw;
    margin-left: 10vw;
    margin-right:10vw;
    border-radius: 15px;
    border:1 solid rgb(253, 253, 253);
    position: relative;
}

.header{
    margin-top: 10vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

.footer{
    color:whitesmoke;
    position: block;
    bottom: 0;
    right:0;
    margin-top: 6vh;
    
}
.developed-by{
    margin:0.5em;
    
}

.base-title{
    color:whitesmoke;
    padding-top: 5vh;
}

.suited-for-allergists{
    color: whitesmoke;
}

.base-hr{
    color:white;
    margin-right : 7%;
    margin-left: 7%;
}
